*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

.timeBox{
    display:block;
    text-align: center;
}

.timeBox .input-text{
    font-size: 30px;
    padding: 30px;
}

.timeBox .time-input{
    margin: auto;
    margin-top: 50px;
    font-size: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.timeBox .start-btn{
    font-size: 15px;
    margin-right: 30px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
}

.timeBox .stop-btn{
    font-size: 15px;
    margin-top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
}

.timeBox .reset-btn{
    font-size: 15px;
    margin-top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    margin-left: 25px;
}

.timeBox .start-btn:hover{
    background-color: rgb(42, 224, 42);
    cursor: pointer;
}

.timeBox .stop-btn:hover{
    background-color: rgb(225, 78, 78);
    cursor: pointer;
}

.timeBox .reset-btn:hover{
    background-color:yellow;
    cursor: pointer;
}


.timeRun-box{
    display: block;
    margin: 30px 600px;
}

.timeRun-box strong{
    font-size: 20px;
    padding: 10px 0px 0px 0px;
}

.timeRun-box span{
    display: inline-block;
    padding: 15px;
    text-align: center;
}

.timeRun-box .time-run{
    display: inline-block;
    width: 60px;
    height: 5   0px;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    background-color: orange;
    color: white;
    font-weight: 600;
    
}